
<div class="container">
  <div>
    <h1 class="card-body-title">Welcome to Park Buddy!</h1>
  </div>
</div>

<div id="container">
  <div id="parks-cards"></div>
</div>

<script src="/js/parks.js"></script>