<h1>Home page</h1>
<div id="container">
    <div id="parks-cards"></div>

    <div>
        content on the right
    </div>

</div>
<script>
    var parksKey = 'J6YwwQU5Pdf3XX70BNdRWNHUZoz5neEQnOc5x3LL'

    const start = async () => {
        var res = await fetch('https://ipapi.co/json')
        var data = await res.json()
        var stateIP = data.region_code

        console.log(stateIP)


        var apiKey = `https://developer.nps.gov/api/v1/parks?stateCode=${stateIP}&api_key=${parksKey}`
        console.log(apiKey)
        var data;
        fetch(apiKey)

            .then(function (response) {
                return response.json()
            })
            .then(function (parks) {
                data = parks.data
                console.log(data)
                for (var i = 0; i < parks.data.length; i++) {
                    var card = document.createElement('div')
                    card.innerHTML = `

<div class="col text-center">
  <div class="col-lg-4">
    <div class="card home-card" style="width: 18rem;">
        <img class=card-img src=${parks.data[i].images[0].url} alt="Card image cap" height="200px" width="auto">
        <div class="card-body">
            <h4>${parks.data[i].fullName}</h4>
            <p class="card-text">${parks.data[i].description}</p>
        </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
            </ul>
        <div class="card-body">
            <button class="add-fav" data-index=${i}>add fav</button>
        </div>
    </div>
  </div>
</div>

                `
                    document.querySelector('#parks-cards').appendChild(card)
                }
                document.querySelectorAll('.add-fav').forEach(element => {
                    element.addEventListener('click', function (e) {
                        var index = e.target.getAttribute('data-index')


                        console.log(data[index])
                        // post request (send park data to back-end)
                    })
                })
            })
    }
    start()
</script>
<style>
    #container {
        display: grid;
        grid-template-columns: 5fr 3fr;
        gap: 10px;
    }

    #container>div {
        background-color: gray;
    }

    #parks-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }

    img {
        height: 200px;
        width: 100%;
    }
</style>